<h1>Blog</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create Post</a>
<div>
    <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText" />
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:5%">
                <input type="checkbox" (change)="toggleAll($event)" />
            </th>
            <th style="width:25%">title</th>
            <th style="width:20%">created at</th>
            <th style="width:5%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts | search:searchText">
            <td class="align-middle">
                <input type="checkbox" [(ngModel)]="post.selected" (change)="updateSelection()" />
            </td>
            <td class="align-middle">{{ post.title }}</td>
            <td class="align-middle">{{ post.createdAt | date: 'short' }}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{ post._id }}" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deletePost(post._id)" class="btn btn-sm btn-danger" [disabled]="post.isDeleting">
                    <span *ngIf="post.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!post.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!posts.length">
            <td colspan="6" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
<button *ngIf="selectedPosts.length > 0" (click)="deleteSelectedPosts()" class="btn btn-sm btn-danger mt-2">Delete Selected</button>