.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .payment-method-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .payment-method-option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .payment-method-option input[type="radio"] {
    margin-right: 5px;
  }

  .payment-method-option img {
    width: 80px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
  }
  
  .payment-details {
<<<<<<< HEAD
    margin-top: 40px;
=======
    margin: 0;
>>>>>>> 6fc3a2271eb8225e1dccda0dac38ac604ab21559
  }
  
  .payment-details h2 {
    margin-bottom: 20px;
  }