<div class="container">
    <div class="text-center">
        <h1 class="mb-5">List of Courses</h1>
    </div>

    <!-- Sort Courses Link -->
<div class="mb-4">
    <a class="text-primary" data-bs-toggle="collapse" href="#filterSortControls" role="button" aria-expanded="false" aria-controls="filterSortControls">
      Sort Courses
    </a>
  </div>
  
  <!-- Filter and Sort Controls -->
  <div class="collapse" id="filterSortControls">
    <div class="row mb-4">
      <div class="col-md-4">
        <label for="priceFilter" class="form-label">Filter by Price:</label>
        <input type="number" class="form-control" id="priceFilter" [(ngModel)]="priceFilter"
          (input)="onPriceFilterChange()" placeholder="Enter max price">
      </div>
      <div class="col-md-4">
        <label for="sortOrder" class="form-label">Sort by Price:</label>
        <select id="sortOrder" class="form-select" [(ngModel)]="sortOrder" (change)="onSortOrderChange()">
          <option value="">None</option>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="categoryFilter" class="form-label">Filter by Category:</label>
        <select id="categoryFilter" class="form-select" [(ngModel)]="categoryFilter"
          (change)="onCategoryFilterChange()">
          <option value="">All Categories</option>
          <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
        </select>
      </div>
    </div>
  </div>
  

     <div class="row justify-content-center" #courseContainer>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-2" *ngFor="let c of filteredCourses" #courseCard>
            <div class="card course-card">
                <img class="card-img-top" [src]="c.image" (click)="goto(c._id)" style="height: 150px; object-fit: cover;">
                <div class="card-body course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="category">{{ c.category.name}}</p>
                    <small class="text-muted">
                      <span class="text-danger">70% Disc. <del>{{c.price}}TND</del></span>
                  </small>
                  </div>
                    <a class="card-title" routerLink="/courses/details/{{c._id}}">{{c.title}}</a>
                    <p class="text-muted">{{c.description | truncate:100}}</p>
                    <div class="d-flex justify-content-between">
                      <small class="text-muted"><i class="bi bi-clock clock-icon me-2"></i>{{c.duration}} Hours</small>
                  </div>
                    <div class="d-flex flex-column justify-content-between">

                        <div class="mt-3 d-flex justify-content-center">
                          <button class="button coursebtn" routerLink="/courses/details/{{c._id}}">
                            <i class="bi bi-cart me-2"></i>Buy {{discount(c.price)}} TND</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>