<!-- profile.component.html -->

<div class="profile-container" *ngIf="account" >
  <img [src]="account.image || 'assets/img/pdp.jpg'" alt="Profile Picture" class="profile-picture">
  <div class="username">{{ account.username }}</div>
  <div class="profile-details mb-3">
    <strong>Name:</strong> {{ account.title }} {{ account.firstName }} {{ account.lastName }}<br />
    <strong>Email:</strong> {{ account.email }}
  </div>
  <button class="button" routerLink="update">Update Profile</button>
</div>
