
<p-toast></p-toast>
<section class="container">
    <header>Your Claim</header>
    <form class="form">
      <div class="column">
      </div>
      <div class="input-box">
        <input type="text"  (input)="updateTitle($event)" placeholder="Title" />
      </div>
      <div class="input-box">
        <textarea  (input)="updateDescription($event)" placeholder="Description"></textarea>
      </div>
      <div class="input-box">
        <button class="btn-gen-username" (click)="showError()">Send</button>
      </div>
      
    </form>
  </section>
