<div class="ag-format-container" *ngIf="event">
  <div class="ag-event-detail">
    <figure class="ag-event-detail_image">
      <img [src]="event.image || 'https://picsum.photos/800/450'" alt="" />
    </figure>
    <div class="ag-event-detail_body">
      <h2 class="ag-event-detail_title">{{ event.title }}</h2>
      <p class="ag-event-detail_description">{{ event.description }}</p>
      <p class="ag-event-detail_date">{{ event.date | date: 'short' }}</p>
      <p class="ag-event-detail_duration">Duration: {{ event.duration }} mins</p>
      <p class="ag-event-detail_type">Type: {{ event.type }}</p>
      <h3 class="ag-event-detail_subtitle">Participants</h3>
      <p class="ag-event-detail_participants">Number of participants: {{ event.participants.length }}</p>
    </div>
    <ng-container *ngIf="false ; else nojoin ">
      <div class="wrap">
        <button class="button">Join Now</button>
      </div>
    </ng-container>
    <ng-template #nojoin>
      <div class="wrap">
        <button class="button">Meeting</button>
      </div>
    </ng-template>
    
  </div>
</div>